{% extends "layouts/main-v2.html" %}


{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Evidence</span>
      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Employment (PAYE) income
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['employment-income'] or "Wage slips" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./evidence-income">Change<span class="govuk-visually-hidden"> evidence of employment income</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other income
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['housing'] or "Bank statement" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./evidence-income">Change<span class="govuk-visually-hidden"> evidence of other income</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Housing costs
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['other-income'] or "No evidence required" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./evidence-capital">Change<span class="govuk-visually-hidden"> evidence of housing costs</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Capital
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['capital'] or "No evidence required" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./evidence-capital">Change<span class="govuk-visually-hidden"> evidence of capital</span></a>
          </dd>
      </dl>


      <!-- <form method="post">
        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form> -->

      <!-- TEMP -->
      <a href="task-list-temp-evidenceDone" class="govuk-button govuk-!-margin-top-5">Save and continue</a>


    </div>
  </div>
{% endblock %}
