//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 



.eligibility-result-box {
  padding: 25px;
  margin-bottom: 25px;
  background-color: #f3f2f1;
}

.eligibility-result-box h3 {
  margin-bottom: 10px;
}

.eligibility-result-box p {
  margin-bottom: 10px;
}


// MCC prototype


.summary-box {
  max-width: 312px;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 15px 10px;
  page-break-inside: avoid;
}

.summary-box-eligible, .summary-box-not-assessed, .summary-box-contribution-required-and-overall-ineligible {
  background-color: #f3f2f1;
}

.summary-box-holder {
  display: flex;
  align-items: stretch;
}