{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Client and case details</span>
      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ECF
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./ecf">Change<span class="govuk-visually-hidden"> ecf</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Accessed legal aid before
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./legal-aid-before">Change<span class="govuk-visually-hidden"> legal aid before</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['name'] or "Joe Bloggs" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./client-details">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Has name changed?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['name-change'] or "No" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./client-details">Change<span class="govuk-visually-hidden"> whether name has changed</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['dob-day'] or "10" }} {{ data['dob-month'] or "Oct" }} {{ data['dob-year'] or "1982" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./client-details">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Place of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['place-of-birth'] or "London" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./client-details">Change<span class="govuk-visually-hidden"> place of birth</span></a>
          </dd>
        </div>
        <!-- Still need to make work for no nino -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['nino-number'] or "QQ123456C" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./nino">Change<span class="govuk-visually-hidden"> National Insurance number</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['address-line-1'] or "12 Elm Grove" }}<br>
            {{ data['address-line-2'] or "Whitchurch" }}<br>
            {{ data['town'] or "Bristol" }}<br>
            {{ data['postcode'] or "BS14 9AA" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./client-find-address">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Means assessment needed
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./means-required">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What's the matter about?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['matter-type'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./matter-type">Change<span class="govuk-visually-hidden"> what the matter is about</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Who's involved?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['matter-who'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./matter-type-2">Change<span class="govuk-visually-hidden"> who is involved</span></a>
          </dd>
        </div>
      </dl>


      <form action="./task-list-new" method="post" novalidate>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
