{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form method="post" action="./case-list">

        <h2 class="govuk-heading-l">
            Prototype setup
        </h2>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                 Category of law (to set matter type questions)
              </h2>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="setup-category-1" name="setup-category" type="radio" value="Public law">
                <label class="govuk-label govuk-radios__label" for="setup-category-1">
                  Public law
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="setup-category-2" name="setup-category" type="radio" value="Family">
                <label class="govuk-label govuk-radios__label" for="setup-category-2">
                  Family
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
