{% extends "layouts/main-v2.html" %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}


  <!---Button menu-->
<!-- 
    {% block buttons %}

    <div class="govuk-button-group">
    
       
      <a href="#"><button type="submit" class="govuk-button " data-module="govuk-button">
          Generate legal help form
        </button></a>

      <form  action="/{{ version }}/reject-case" method="post">
        <button type="submit" class="govuk-button  govuk-button--secondary" data-module="govuk-button">
          Reject case
        </button>
        </form>

        <a href="{{version}}../../../../../case_actions/split_assign"><button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Split case
        </button></a>

        <form  action="/{{ version }}/close-case" method="post">
          <input type="hidden" name="close-case" value="001">
        <button type="submit" class="govuk-button  govuk-button--secondary" data-module="govuk-button">
          Close case
        </button>
        </form>

        <form  action="/{{ version }}/feedback-case" method="post">
          <button type="submit"  class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Leave feedback
          </button>
          </form>
      
    </div>
        
    {% endblock %} -->

  

{% endblock %}
